<div>
  <p class="font-bold text-xl">About</p>
  <p class="text-[15px] text-gray-600 dark:text-gray-500">
    Hello there! I'm Prabhas Utla, an software Developer at Comunus Technologies. I hold a Bachelor of Science degree in
    Information Technology from B.N.N. College in Mumbai, India. I am an experienced <span class="font-semibold text-black"> Angular Developer </span>  with over one
    year of experience in <span class="font-semibold text-black"> front-end development </span>, specializing in creating intuitive and responsive user interfaces that
    deliver exceptional user experiences.<br>
    Skilled in
    <span class="font-semibold text-black">
      HTML, CSS, JavaScript, TypeScript, and Angular, ionic,
    </span>
    with additional expertise in UI design. I am passionate about leveraging my
    technical skills to contribute to the success of innovative projects and
    drive the growth of a forward-thinking company. Seeking a challenging role
    where I can continue to develop my skills and make a meaningful impact
    <span class="font-semibold text-black"> </span>
    and I am ready to contribute to innovative projects and make a meaningful
    impact.
  </p>
  <div class="mt-4 col-start-1 row-start-3 self-center grid justify-items-center sm:mt-0 sm:col-start-2 sm:row-start-2 sm:row-span-2 lg:mt-6 lg:col-start-1 lg:row-start-3 lg:row-end-4">
      <button type="button" class="bg-sky-500 text-white text-sm leading-6 font-medium py-2 px-3 rounded-lg hover:bg-gray-400 hover:text-black hover:border-slate-900 hover:rounded-lg" (click)="getprint()">Checkout Resume</button>
  </div>
</div>