<div>
  <p class="font-bold text-xl">About</p>
  <p class="text-[15px] text-gray-600 dark:text-gray-500 text-justify">
    Hello! I'm Prabhas Utla, a Software Developer at Comunus Technologies. I hold a Bachelor of Science degree in
    Information Technology from B.N.N. College, Mumbai, India. I am an experienced
    <span class="font-semibold text-black">Angular Developer</span>
    with over three years of hands-on experience in
    <span class="font-semibold text-black">Software developer</span>,
    specializing in building scalable, high-performance, and responsive web applications that deliver seamless user
    experiences.
    I have strong expertise in
    <span class="font-semibold text-black">
      HTML, CSS, JavaScript, TypeScript, Angular, and Ionic
    </span>,
    with a proven ability to develop dynamic functionalities, reusable components, and feature-rich interfaces. I
    actively contribute to solving complex business problems by designing efficient UI architectures, optimizing
    application performance, and ensuring cross-browser compatibility.
    I am passionate about creating intuitive user interfaces, enhancing usability, and continuously improving
    application quality through clean, maintainable code and modern development practices. I thrive in collaborative
    environments and enjoy turning ideas into impactful digital solutions.
    I am seeking opportunities where I can further expand my technical expertise, take on challenging projects, and
    contribute to innovative products that make a meaningful impact.
  </p>
  <div
    class="mt-4 col-start-1 row-start-3 self-center grid justify-items-center sm:mt-0 sm:col-start-2 sm:row-start-2 sm:row-span-2 lg:mt-6 lg:col-start-1 lg:row-start-3 lg:row-end-4">
    <button type="button"
      class="bg-sky-500 text-white text-sm leading-6 font-medium py-2 px-3 rounded-lg hover:bg-gray-400 hover:text-black hover:border-slate-900 hover:rounded-lg"
      (click)="getprint()">Checkout Resume</button>
  </div>
</div>